<div id="delete-modal-wrap" class="modal" tabindex="-1">
  <div id="delete-modal" class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Article
          (
          <span id="delete-article-title"></span>
          )
        </h5>
      </div>
      <div class="modal-body">
        Are you sure to delete this article?
      </div>
      <div class="modal-footer">
        <button id="close-delete-modal-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="delete-confirm-btn" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>